<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.backend.mapper.CommentLikeMapper">

    <insert id="insert" parameterType="com.movie.backend.entity.CommentLike">
        INSERT INTO comment_likes (comment_id, user_id, create_time)
        VALUES (#{commentId}, #{userId}, #{createTime})
    </insert>

    <delete id="delete">
        DELETE FROM comment_likes 
        WHERE comment_id = #{commentId} AND user_id = #{userId}
    </delete>

    <delete id="deleteByCommentId">
        DELETE FROM comment_likes
        WHERE comment_id = #{commentId}
    </delete>

    <delete id="deleteByMovieId">
        DELETE FROM comment_likes
        WHERE comment_id IN (SELECT comment_id FROM comments WHERE movie_id = #{movieId})
    </delete>

    <select id="selectByCommentAndUser" resultType="com.movie.backend.entity.CommentLike">
        SELECT id, comment_id as commentId, user_id as userId, create_time as createTime
        FROM comment_likes
        WHERE comment_id = #{commentId} AND user_id = #{userId}
    </select>

</mapper>
